<template>
  <v-container fluid>
    <LoadingModal :visible="loading" @close="cancelDeleteData()" />

    <v-card v-if="response">
      <v-card-title>
        <span class="headline"> {{ data.title }} </span>
      </v-card-title>

      <v-divider></v-divider>

      <v-card-text>
        <v-container>
          <v-radio-group v-model="data.selected_option" v-if="data.options">
            <v-radio
              v-for="(option, index) in JSON.parse(data.options)"
              :key="index"
              :label="option"
              :value="index"
            ></v-radio>
          </v-radio-group>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
          outlined
          class="no-text-transform"
          color="primary"
          @click="cancel()"
        >
          Voltar
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          outlined
          class="no-text-transform"
          color="primary"
          @click="response = !response"
        >
          Voltar para o conteúdo
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          class="no-text-transform"
          color="primary"
          @click="saveData()"
          :disabled="!data.selected_option"
        >
          Responder
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-card v-else>
      <v-card-title>
        <span class="headline"> Conteúdo </span>
      </v-card-title>

      <v-card-text>
        <v-row class="d-flex justify-center">
          <iframe
            width="560"
            height="315"
            frameborder="0"
            allowfullscreen
            src="https://www.youtube.com/embed/zoFC82aPq1A"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-btn
          outlined
          class="no-text-transform"
          color="primary"
          @click="cancel()"
        >
          Voltar
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          outlined
          class="no-text-transform"
          color="primary"
          @click="response = !response"
        >
          Ir para o questionário
        </v-btn>
      </v-card-actions>
    </v-card>

    <NextLevel :visible="nextLevel" @close="closeNextLevel()" />
  </v-container>
</template>

<script>
import NextLevel from "./NextLevel";
import ToastService from "@/services/ToastService";
import ResponseService from "@/services/Challenge/ResponseService";
import ChallengeService from "@/services/Challenge/ChallengeService";

export default {
  name: "UserForm",

  components: { NextLevel },

  mounted: async function () {
    const id = this.$route.params.id;
    if (id !== undefined) {
      this.loading = true;
      await this.showData(id);
    } else {
      ToastService("Não foi possível consultar os dados.", "error");

      this.cancel();
    }
  },

  data: () => ({
    data: {},
    errors: {},
    listRoles: [],
    loading: false,
    response: false,
    nextLevel: false,
    enabledInputs: false,
    ResponseService: new ResponseService("/response"),
    ChallengeService: new ChallengeService("/challenge"),
  }),

  methods: {
    async saveData() {
      try {
        this.loading = true;
        this.enabledInputs = true;

        const res = await this.ResponseService.storeOrUpdate("", {
          challenge_id: this.data.id,
          response_option: this.data.selected_option,
        });

        ToastService("Resposta salva.", "success");

        if (res.correct === true) {
          this.nextLevel = true;
        }

        this.nextChallenge();
      } catch (exception) {
        if (typeof exception === "object") {
          this.errors = exception;
          ToastService("Verifique o preenchimento dos dados.", "error");
        } else {
          ToastService(exception, "error");
        }
      } finally {
        this.loading = false;
        this.enabledInputs = false;
      }
    },

    async showData(id) {
      try {
        this.data = await this.ChallengeService.show(id);
      } catch (exception) {
        ToastService("Não foi possível consultar os dados.", "error");

        this.cancel();
      } finally {
        this.loading = false;
      }
    },

    async nextChallenge() {
      try {
        this.dataLoading = true;

        const res = await this.ChallengeService.index("next");

        this.redirectPage(`/app/desafios/responder/${res.id}`);

        await this.showData(res.id);

        this.response = false;
      } catch (exception) {
        ToastService("Não foi possível obter o próximo desafio.", "error");

        this.cancel();
      } finally {
        this.dataLoading = false;
      }
    },

    redirectPage(path) {
      this.$router.push({ path: path });
    },

    cancel() {
      this.$router.push({ path: "/app/desafios" });
    },

    closeNextLevel() {
      this.nextLevel = false;
    },
  },
};
</script>