<template>
  <v-container fluid>
    <LoadingModal :visible="loading" />

    <v-data-table
      item-key="id"
      class="elevation-3"
      v-model="selected"
      :show-select="false"
      :single-select="true"
      :headers="headers"
      :items="dataTable"
      :loading="dataLoading"
      hide-default-footer
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Desafios</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn
            :disabled="dataLoading"
            outlined
            color="primary"
            class="no-text-transform"
            @click="nextChallenge()"
          >
            Continuar
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.response="{ item }">
        <span :class="responseStatusClass(item.response)">
          {{ responseStatus(item.response) }}</span
        >
      </template>

      <template v-slot:item.acoes="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              v-if="item.response === null"
              small
              v-on="on"
              v-bind="attrs"
              color="primary"
              class="mr-2 cursor-pointer"
              @click="redirectPage(`/app/desafios/responder/${item.id}`)"
            >
              fas fa-pen-alt
            </v-icon>

            <v-icon
              v-else
              small
              v-on="on"
              v-bind="attrs"
              color="secondary"
              class="mr-2 cursor-pointer"
            >
              fas fa-pen-alt
            </v-icon>
          </template>
          <span>Responder</span>
        </v-tooltip>
      </template>

      <template v-slot:no-data> Nenhum dado localizado. </template>

      <template v-slot:loading> Carregando... </template>
    </v-data-table>

    <Paginate
      :paginate="paginateParams"
      :disabled="dataLoading"
      v-if="
        paginateParams.last_page !== undefined && paginateParams.last_page >= 2
      "
      @setPage="setPage($event)"
    />
  </v-container>
</template>

<script>
import ToastService from "@/services/ToastService";
import ChallengeService from "@/services/Challenge/ChallengeService";

export default {
  name: "ChallengeIndex",

  created: async function () {
    await this.indexData();
  },

  data: () => ({
    selected: [],
    dataTable: [],
    loading: false,
    confirmData: {},
    showDeleteModal: false,
    showForm: false,
    dataLoading: true,
    dataToModal: {},
    paginateParams: {},
    ChallengeService: new ChallengeService("/challenge"),
    headers: [
      { text: "#", value: "id", align: "left", sortable: false },
      { text: "Pergunta", value: "title", align: "left", sortable: false },
      {
        text: "XP",
        value: "experience",
        align: "center",
        sortable: false,
      },
      {
        text: "Resposta",
        value: "response",
        align: "center",
        sortable: false,
      },
      { text: "Ações", value: "acoes", align: "center", sortable: false },
    ],
  }),

  methods: {
    async indexData(queryString = "") {
      try {
        this.dataLoading = true;

        const res = await this.ChallengeService.index(queryString);

        this.paginateParams = {
          last_page: res.last_page,
          current_page: res.current_page,
          next_page_url: res.next_page_url,
          prev_page_url: res.prev_page_url,
          last_page_url: res.last_page_url,
        };

        this.dataTable = res.data;
      } catch (exception) {
        ToastService(exception, "error");
      } finally {
        this.dataLoading = false;
      }
    },

    async nextChallenge() {
      try {
        this.dataLoading = true;

        const res = await this.ChallengeService.index("next");

        this.redirectPage(`/app/desafios/responder/${res.id}`);
      } catch (exception) {
        ToastService(exception, "error");
      } finally {
        this.dataLoading = false;
      }
    },

    async setPage(page) {
      await this.indexData(`?page=${page}`);
    },

    redirectPage(path) {
      this.$router.push({ path: path });
    },

    responseStatusClass(response) {
      if (response === null) {
        return "";
      }

      return response.correct ? "correct" : "incorrect";
    },

    responseStatus(response) {
      if (response === null) {
        return "Não respondido";
      }

      return response.correct ? "Correto" : "Incorreto";
    },
  },
};
</script>

<style scoped>
.correct {
  color: green;
}

.incorrect {
  color: red;
}
</style>