<template>
  <v-dialog v-model="visible" persistent max-width="300px">
    <v-card>
      <v-card-title class="text-center">
        <v-spacer></v-spacer>
        <span class="title">Parabéns</span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-card-text class="mt-4">
        <v-row>
          <v-spacer></v-spacer>
          <v-icon class="person-icon" color="primary"> fas fa-award</v-icon>
          <v-spacer></v-spacer>
        </v-row>

        <v-row>
          <v-spacer></v-spacer>
          <span class="subtitle">Você passou de nível</span>
          <v-spacer></v-spacer>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" outlined @click="close()">
          Fechar
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    visible: {
      type: Boolean,
      required: true,
      default: false,
    },
  },

  methods: {
    close() {
      this.$emit("close");
    },
  },
};
</script>

<style scoped>
.title {
  color: #0b6775;
  font-weight: bold;
  font-size: 30px !important;
  text-align: center !important;
}

.subtitle {
  color: #0b6775;
  font-weight: bold;
  font-size: 15px !important;
  text-align: center !important;
}

.person-icon {
  font-size: 150px;
}
</style>