<template>
  <v-app id="app">
    <SystemAppBar />
    <SystemNavigation />

    <v-main>
      <Toast />
      <ModalChangePassword />

      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Toast from "@/components/Toast/Index";
import SystemAppBar from "@/components/Bars/SystemAppBar";
import SystemNavigation from "@/components/Navigations/SystemNavigations";

export default {
  name: "App",

  components: {
    Toast,
    SystemAppBar,
    SystemNavigation,
  },
};
</script>

<style>
.cursor-pointer {
  cursor: pointer !important;
}

.no-text-transform {
  text-transform: none !important;
}

.no-text-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
</style>
