<template>
  <v-card>
    <LoadingModal :visible="loading" />

    <v-card-title>
      <span class="headline">
        {{ data.id ? "Editar Usuário" : "Cadastrar Usuário" }}
      </span>
    </v-card-title>

    <v-divider></v-divider>

    <v-card-text>
      <v-container>
        <v-form>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                prepend-icon=""
                :autofocus="true"
                label="Nome*"
                :disabled="enabledInputs"
                v-model="data.name"
                :error-messages="errors.name"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                prepend-icon=""
                label="E-mail*"
                :disabled="enabledInputs"
                v-model="data.email"
                :error-messages="errors.email"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                type="password"
                prepend-icon=""
                label="Senha*"
                :disabled="enabledInputs"
                v-model="data.password"
                :error-messages="errors.password"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-select
                prepend-icon=""
                label="Status Conta*"
                :items="[
                  { value: false, text: 'Habilitado' },
                  { value: true, text: 'Desabilitado' },
                ]"
                :disabled="enabledInputs"
                v-model="data.disabled"
                :error-messages="errors.disabled"
              ></v-select>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-list subheader two-line flat class="no-text-select">
                Perfis de Acesso

                <v-list-item-group v-model="data.roles" multiple>
                  <v-list-item
                    v-for="role in listRoles"
                    :key="role.id"
                    :value="role.id"
                  >
                    <template v-slot:default="{ active }">
                      <v-list-item-action>
                        <v-checkbox
                          :input-value="active"
                          color="primary"
                        ></v-checkbox>
                      </v-list-item-action>

                      <v-list-item-content>
                        <v-list-item-title
                          v-text="role.name"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-text="role.description"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn
        outlined
        class="no-text-transform"
        color="primary"
        @click="cancel()"
      >
        Voltar
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        class="no-text-transform"
        color="primary"
        @click="saveData()"
        v-if="
          AuthorizationService(
            'user_management',
            `${data.id ? 'user_edit' : 'user_create'}`
          )
        "
      >
        Salvar
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ToastService from "@/services/ToastService";
import RoleService from "@/services/Auth/RoleService";
import UserService from "@/services/User/UserService";
import AuthorizationService from "@/services/AuthorizationService";

export default {
  name: "UserForm",

  mounted: async function () {
    const id = this.$route.params.id;
    if (id !== undefined) {
      this.loading = true;
      await this.showData(id);
    }

    await this.indexRoles();
  },

  data: () => ({
    data: {},
    errors: {},
    listRoles: [],
    loading: false,
    enabledInputs: false,
    RoleService: new RoleService("/role"),
    UserService: new UserService("/user"),
    AuthorizationService: AuthorizationService,
  }),

  methods: {
    async saveData() {
      try {
        this.loading = true;
        this.enabledInputs = true;

        const id = this.data.id !== undefined ? this.data.id : "";

        await this.UserService.storeOrUpdate(id, this.data);

        ToastService("Ação realizada com sucesso.", "success");

        await this.$router.push({ path: "/app/usuarios" });
      } catch (exception) {
        if (typeof exception === "object") {
          this.errors = exception;
          ToastService("Verifique o preenchimento dos dados.", "error");
        } else {
          ToastService(exception, "error");
        }
      } finally {
        this.loading = false;
        this.enabledInputs = false;
      }
    },

    async showData(id) {
      try {
        this.data = await this.UserService.show(id);
      } catch (exception) {
        ToastService("Não foi possível consultar os dados.", "error");

        this.cancel();
      } finally {
        this.loading = false;
      }
    },

    async indexRoles() {
      try {
        this.listRoles = await this.RoleService.index("");
      } catch (exception) {
        ToastService("Erro ao realizar operação.", "error");

        this.cancel();
      }
    },

    cancel() {
      this.$router.push({ path: "/app/usuarios" });
    },
  },
};
</script>